page-itmes-create {

}
.label {
    margin: 0;
 }
 
.item-inner {
    padding-right: 0px!important;
}

.have-border{
    border-top: 1px solid #e2e2e2 !important;
}

.no-border{
    border-width: 0px !important;
    margin-bottom: 0px;
}