<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!is_search">Categories</ion-title>
    <ion-buttons end *ngIf="!is_search">
      <button ion-button icon-only (click)="searchClick()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button *ngIf="isItemActive" icon-end (click)="deleteCategory()">
        Delete
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar
       *ngIf="is_search"
       [(ngModel)]="myInput"
       [showCancelButton]="true"
       (ionInput)="inputSearch($event)"
       (ionCancel)="cancelSearch()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cat of categories" (tap)="itemTapped(cat.id)" [class.itemHighlight]="checkActive(cat.id)" (press)="itemPressed(cat.id)">
      <div padding-vertical>
        {{cat.name}}
      </div>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createCategories()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
