<ion-header>

  <ion-navbar color="primary">
    <ion-title>Payment 348.000</ion-title>
    <ion-buttons end>
      <button ion-button (click)="toSplitPayment()">
        Split
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <button ion-button large full (click)="doCharge()">
    Charge
    </button>

    <button ion-button full *ngIf="!isCash" (click)="changePayment()">Cash</button>
    <ion-item>
      <ion-label *ngIf="isCash">
        <ion-icon name="cash"></ion-icon>
        Cash
      </ion-label>
      <ion-label *ngIf="!isCash">
        <ion-icon name="card"></ion-icon>
        Card
      </ion-label>
      <ion-input type="number" disabled="!isCash"></ion-input>
    </ion-item>
    <button ion-button full *ngIf="isCash" (click)="changePayment()">Card</button>
  </form>
</ion-content>
