<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!is_search">Discounts</ion-title>
    <ion-buttons end *ngIf="!is_search">
      <button ion-button icon-only (click)="searchClick()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar
       *ngIf="is_search"
       [(ngModel)]="myInput"
       [showCancelButton]="true"
       (ionInput)="inputSearch($event)"
       (ionCancel)="cancelSearch()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item padding-right (click)="itemTapped()">
      <ion-icon name="pricetag" item-start></ion-icon>
      Reseller
      <div item-right>10%</div>
    </ion-item>
    <ion-item padding-right (click)="itemTapped()">
      <ion-icon name="pricetag" item-start></ion-icon>
      Birthday
      <div item-right>5.000</div>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createDiscount()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
