<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!is_search">Discounts</ion-title>
    <ion-buttons end *ngIf="!is_search">
      <button ion-button icon-only (click)="searchClick()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button *ngIf="isItemActive" icon-end (click)="deleteDiscounts()">
        Delete
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar
       *ngIf="is_search"
       [(ngModel)]="myInput"
       [showCancelButton]="true"
       (ionInput)="inputSearch($event)"
       (ionCancel)="cancelSearch()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item padding-right *ngFor="let dis of discounts" (tap)="itemTapped(dis.id)" [class.itemHighlight]="checkActive(dis.id)" (press)="itemPressed(dis.id)">
      <ion-icon name="pricetag" item-start></ion-icon>
      {{dis.name}}
      <div item-right>{{dis.value | number}}<span *ngIf="dis.type == 'percent'">%</span></div>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createDiscount()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
