<ion-header>
  <ion-navbar color="primary">
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Category</ion-title>
    <ion-buttons end>
      <button ion-button icon-end (click)="saveCategory(category.id)">
        Save
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <form (ngSubmit)="saveCategory()">
      <ion-item>
        <ion-label floating>Category Names</ion-label>
        <ion-input type="text" [(ngModel)]="category.name" name="name" ></ion-input>
      </ion-item>
    </form>
    <ion-item *ngIf="!justCreate">
      <button ion-item (click)="itemInCategory(catID)">Items in category: {{details.count_items}} of {{details.total_items}}</button>
    </ion-item>

    <ion-item *ngIf="!justCreate">
      <button ion-item (click)="createNewItem(catID)">+Create New Item</button>
    </ion-item>
  </ion-card>

</ion-content>
