<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!is_search">
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear class="button-ticket" *ngIf="!is_search" (click)="openTicket()">
        Ticket
        <ion-badge>0</ion-badge>
      </button>
    <ion-buttons end *ngIf="!is_search">
      <button ion-button icon-only (click)="searchClick()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="toFeedback()">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addPerson()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="is_search" [(ngModel)]="myInput" [showCancelButton]="true" (ionInput)="inputSearch($event)" (ionCancel)="cancelSearch()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button large full icon-end (click)="toPayment()">
    Charge 0 
    <ion-icon name="checkmark-circle"></ion-icon>
  </button>

  <div>
    <ion-segment [(ngModel)]="items.segment">
      <ion-segment-button value="all">
        <ion-icon name="list-box" style="font-size: 20px;"> All</ion-icon>
      
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-icon name="star" style="font-size: 20px;"> Favorites</ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="items.segment">
    <div class="row" style="padding: 10px" *ngSwitchCase="'all'">
      <div col-12 col-sm-6 col-md-3 *ngFor="let allItem of itemAlls">
        <div nowrap class="item-sales">
          <div text-center>
            <img src="http://gema-dev.com/myPOS/img/{{ allItem.image }}">
          </div>
          <hr>
          <b><h4> {{ allItem.title }} </h4></b>
          <h3 class="price">Rp. {{ allItem.price }}
            <div style="float: right">
              <ion-icon name="ios-star-outline"></ion-icon>
            </div>
          </h3>
        </div>
      </div>
    </div>

    <div class="row" style="padding: 10px" *ngSwitchCase="'favorites'">
      <div col-12 col-sm-6 col-md-3 *ngFor="let favoritItem of itemFavorits">
        <div class="item-sales">
          <div text-center>
            <img src="http://gema-dev.com/myPOS/img/{{ favoritItem.image }}">
          </div>
          <hr>
          <b><h4> {{ favoritItem.title }} </h4></b>
          <h3 class="price">Rp. {{ favoritItem.price }}
            <div style="float: right">
              <ion-icon name="ios-star"></ion-icon>
            </div>
          </h3>
        </div>
      </div>
    </div>
  </div>

</ion-content>
