<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!is_search">
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear class="button-ticket" *ngIf="!is_search" (click)="openTicket()">
        Ticket
        <ion-badge>0</ion-badge>
      </button>
    <ion-buttons end *ngIf="!is_search">
      <button ion-button icon-only (click)="searchClick()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="toFeedback()">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addPerson()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="is_search" [(ngModel)]="myInput" [showCancelButton]="true" (ionInput)="inputSearch($event)" (ionCancel)="cancelSearch()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button large full icon-end (click)="toPayment()">
    Charge 0 
    <ion-icon name="checkmark-circle"></ion-icon>
  </button>

  <div>
    <ion-segment [(ngModel)]="items.segment">
      <ion-segment-button value="all">
        <ion-icon name="list"></ion-icon>
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-icon name="star-outline"></ion-icon>
        Favorites
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="items.segment">
    <ion-list *ngSwitchCase="'all'">
      <button ion-item class="active">
        <ion-avatar item-start>
          <img src="http://gema-dev.com/myPOS/img/man-shoes.jpg">
        </ion-avatar>
        <h2>Men Shoes 01</h2>
        <p>003</p>
        <div item-end>
          <h1>128.000</h1>
        </div>
      </button>
      <button ion-item>
        <ion-avatar item-start>
          <img src="http://gema-dev.com/myPOS/img/man-shoes-2.jpg">
        </ion-avatar>
        <h2>Men Shoes 02</h2>
        <p>003</p>
        <div item-end>
          <h1>160.000</h1>
        </div>
      </button>
      <button ion-item>
        <ion-avatar item-start >
            <ion-icon name="pricetag" style="font-size: 46px;"></ion-icon>
        </ion-avatar>
        <h2>Reseller</h2>
        <div item-end>
          <h1>10 %</h1>
        </div>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'favorites'">
      <ion-item>
        <ion-avatar item-start>
          <img src="http://gema-dev.com/myPOS/img/man-shoes-2.jpg">
        </ion-avatar>
        <h2>Men Shoes 02</h2>
        <p>003</p>
        <div item-end>
          <h1>160.000</h1>
        </div>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
