page-sales{
    
}
.button-ticket{
    color: white; 
    font-size: 2rem;
    padding-left: 0px !important;
}

.itemHighlight{
    background-color: lemonchiffon;
}

.price{
    color: #FF9800; 
}

.item-sales{
    background-color: #f8f8f8; 
    box-shadow: 3px 3px 3px #888888; 
    padding: 15px
}