<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!is_search">
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear class="button-ticket" *ngIf="!is_search" (click)="openTicket()">
        Ticket [{{totalItemsOnTicket}}]
      </button>
    <ion-buttons end *ngIf="!is_search">
      <button ion-button icon-only (click)="searchClick()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="toFeedback()">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addPerson()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="is_search" [(ngModel)]="myInput" [showCancelButton]="true" (ionInput)="inputSearch($event)" (ionCancel)="cancelSearch()">
    </ion-searchbar>
  </ion-navbar>
  <ion-toolbar *ngIf="pricevariant" color="primary" class="border-top-nav">
    <ion-buttons left>
      <button ion-button icon-only (click)="backToItems()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Shoes Man
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!pricevariant">

    <!--  coba coba
    Console = {{consoleLog}}<br> Result ID = {{resultId}}<br> Discount = {{totalDiscount}}
    <button *ngFor="let dis of discounts" [disabled]="dis.status == 1" ion-button (click)="setDiscount(dis.id)">
    {{dis.name}}
    </button>

    <
    <button ion-button large full icon-end (click)="addDummyTicket()">
    Add Dummy Data
  </button>
  -->

    <button ion-button large full icon-end (click)="toPayment()">
    Charge {{totalCharge - totalDiscount | number}}
    <ion-icon name="checkmark-circle"></ion-icon>
  </button>

    <div>
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="all">
          <ion-icon name="list-box" style="font-size: 20px;"> All</ion-icon>

        </ion-segment-button>
        <ion-segment-button value="favorites">
          <ion-icon name="star" style="font-size: 20px;"> Favorites</ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="segment">
      <div class="row" style="padding: 10px" *ngSwitchCase="'all'">
        <div col-6 col-sm-6 col-md-3 *ngFor="let item of items">
          <div nowrap class="item-sales" (click)="selectPriceVariant(item.id_real)">
            <div text-center>
              <img src="http://gema-dev.com/myPOS/img/man-shoes.jpg">
            </div>
            <hr>
            <b><h6> {{ item.name }} 
                <div style="float: right">
                    <ion-icon name="ios-star-outline"></ion-icon>
                  </div></h6></b>
                  
          </div>
        </div>
        <div col-6 col-sm-6 col-md-3 *ngFor="let dis of discounts">
          <div nowrap class="item-sales" (click)="setDiscount(dis.id)">
            <div text-center>
              <ion-icon name="pricetag"></ion-icon>
            </div>
            <hr>
            <b><h6> {{ dis.name }} 
                  <div style="float: right">
                      {{dis.value | number}}<span *ngIf="dis.type == 'percent'">%</span>
                    </div></h6></b>

          </div>
        </div>
      </div>

      <div class="row" style="padding: 10px" *ngSwitchCase="'favorites'">
        <div col-12 col-sm-6 col-md-3 *ngFor="let favoritItem of itemFavorits">
          <div class="item-sales">
            <div text-center>
              <img src="http://gema-dev.com/myPOS/img/{{ favoritItem.image }}">
            </div>
            <hr>
            <b><h4> {{ favoritItem.title }} </h4></b>
            <h3 class="price">Rp. {{ favoritItem.price }}
              <div style="float: right">
                <ion-icon name="ios-star"></ion-icon>
              </div>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pricevariant">
    <ion-list style="padding-top: 40px;" inset>
      <!--Id Item : {{idItem}}-->
      <button ion-item *ngFor="let pv of pricevariants" (click)="addPriceVariant(pv.id_real)">
        <h2>{{pv.name}}</h2>
        <div item-right>
            <h2>{{pv.price | number}}</h2>
        </div>
      </button>

    </ion-list>
  </div>
</ion-content>
